/* home page */
/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */
h2, p{
    font-family: 'Ubuntu', serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.logo{
    width: 30px;
    margin-left: 5%;
    margin-top: 20px;
    cursor: pointer;
}
 
.hamburger{
    float: right;
    margin-right: 5%;
    margin-top: 20px;
    cursor: pointer;
}

.icon__close{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

nav{
    width: 60%;
    height: 0;
    margin: auto;
    z-index: 120;
    position: fixed;
    left: 0;
    right: 0;
    overflow-x: hidden;
    transition: 1s;  
}

nav ul{
   padding-left: 30%; 
   background-color: #000;
}

nav ul li{
    list-style: none;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#crew__content{
    text-align: center;
}

.img{
    width: 50%;
}

.carousel-item h2{
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.carousel-item h1{
    text-transform: uppercase;
}

.carousel-item p{
    font-weight: lighter;
}

.p-text_container{
    width: 80%;
    margin: auto;
}

/* overlay */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    filter: blur(3px);
    z-index: 1; 
  }

/* transition */
.transition__out{
    opacity: 1;
    transition: all 1s;
}

.transition__in{
    opacity: 0;
    transition: all 1s;
}

/* hidden element */
.hidden{
    display: none;
}
